Django==1.6.5
Pillow==2.2.2
coverage==3.7.1
-e git+https://github.com/kennethreitz/dj-static.git@e79582483a976c76511244b3f236f7c68991e1ae#egg=dj_static-master
django-appconf==0.6
django-imagekit==3.1
pep8==1.5.6
pilkit==1.1.6
py==1.4.20
pypandoc==0.8.1
pystache==0.5.4
pytest==2.5.2
six==1.6.1
static==1.0.2
static3==0.5
wsgiref==0.1.2
